Here is the recipe

# Long way
<!-- <p><%= @recipe %></p>
<p><%= @directions %></p>
<p><%= @title %></p>
<p><%= @chef %></p>
<p><%= @ingredients %></p> -->

# Params way
<p><%= @recipe.title %></p>
<p><%= @recipe.directions %></p>
<p><%= @recipe.title %></p>
<p><%= @recipe.chef %></p>
<p><%= @recipe.ingredients %></p>
