<h1>Welcome to the new contact form.</h1>
<h2>Please complete to continue:</h2>

<%= form_tag '/contacts', method: :post do %>
  <div>
  <%= label_tag :first_name %>
  <%= text_field_tag :first_name %>
  </div>
  <div>
  <%= label_tag :middle_name %>
  <%= text_field_tag :middle_name %>
  </div>
  <div>
  <%= label_tag :last_name %>
  <%= text_field_tag :last_name %>
  </div>
  <div>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  </div>
  <div>
  <%= label_tag :phone_number %>
  <%= text_field_tag :phone_number %>
  </div>
  <div>
  <%= label_tag :bio %>
  <%= text_field_tag :bio %>
  </div>
  <%= submit_tag 'Submit This!!' %>
<% end %>