<div class="card">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title"><%= @contact.full_name %></h4>
    <p class="card-text"><%= @contact.first_name %></p>
    <p class="card-text"><%= @contact.last_name %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Your lat and long are: <%= @contact.latitude %>, <%= @contact.longitude %>, <%= @contact.longitude %></li>
    <li class="list-group-item"><%= @contact.email %></li>
    <li class="list-group-item"><%= @contact.phone_number %></li>
    <li class="list-group-item"><%= @contact.japanese_prefix %></li>
    <li class="list-group-item"><%= @contact.bio %></li>
  </ul>
  <div class="card-block">
    <a href="/contacts/#{@contact.id}/edit" class="card-link">Edit me</a><br>
    <a href="/contacts/#{@contact.id}" class="card-link">Delete me</a>
  </div>
</div>
